
    div.uvod {border:7px outset green;
            background-color: ivory;
            text-align: center;}
    span.ingrediencie {color: rgb(141, 46, 46);}
        ul + p {
                color: rgb(42, 42, 241);
        }

        p b {
                color: red !important
        }

        body {
                font-family:Arial, Helvetica, sans-serif;
                color: blue;
                padding: 10px;
        }

        div#uvod {
                border: 1px solid black;
                background-color: blueviolet;
                padding: inherit;
        }
